body{
    display: flex;
    flex-wrap: wrap;
}
.cons{
    width: 40%;
    border: 1px rgba(184, 184, 184, 0.671) solid;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1%;
    margin-right: 1%;
}
.cons div{
    margin: 2%;
    width: 94%;
    padding: 1%;
    border: 3px solid blue;
}
.defBlocks{
    background-color: rgb(0, 255, 255);
}
.changeable{
    background-color: yellow;
}
#relative{
    position: relative;
    top: 30px; 
    left: 20px;
}
#absolute{
    position: absolute;
    width: inherit;
    top: 10px;
}
body .cons:nth-child(3), body .cons:nth-child(4){
    position: relative;
}
#context{
    position: absolute;
    width: 70%;
    left: 3%;
    top: 10%;
}
#z-index{
    background-color: lime;
    position: absolute;
    z-index: 1;
    width: 70%;
    top: 3%;
    left: 10%;
}